.animal-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-family: 'GmarketSansMedium';
}

.animal-item {
  width: 23%;
  margin: 20px 2%;
  text-align: center;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  font-family: 'GmarketSansMedium';
}

.thumb :hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}


.thumb {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.thumb img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.body-container {
  width: 100%;
  height: 80%;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.text {
  padding-top: 10px;
  color: #555555;
  font-family: 'GmarketSansMedium';
}


.filter-button button {
  background-color: white;
  color: #594a41;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  font-family: 'GmarketSansMedium';
}

.filter-button button.active {
  background-color: #594a41;
  color: white;
}

.filter-button{
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  font-family: 'GmarketSansMedium';
}

h1{
  margin-bottom: 20px;
  font-family: 'GmarketSansMedium';
}