* {
    text-decoration: none;
    font-family: 'GmarketSansMedium';
}

.slick-slide img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.slick-slider {
    width: 100%;
    height: 500px;
    font-family: 'GmarketSansMedium';
}

.slick-next {
    top: 40%;
    z-index: 999;
    right: 15px;
}

.slick-prev {
    top: 40%;
    z-index: 999;
    left: 15px;
}

.slick-dots {
    bottom: 100px;
}

.animal-info-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
    max-width: 1400px;
    font-family: 'GmarketSansMedium';
}

.slider-container {
    width: 100%;
    max-width: 500px;
    font-family: 'GmarketSansMedium';
}

.details-container {
    width: 40%;
    font-family: 'GmarketSansMedium';
}

.additional-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'GmarketSansMedium';
}

.label-container {
    width: 48%;
    font-family: 'GmarketSansMedium';
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'GmarketSansMedium';
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    font-family: 'GmarketSansMedium';
}

table,
th,
td {
    font-size: 20px;
    border: 3px solid #ddd;
    font-family: 'GmarketSansMedium';
}

th,
td {
    padding: 20px;
    text-align: center;
    font-family: 'GmarketSansMedium';
}

td{
    font-weight: bold;
    font-family: 'GmarketSansMedium';
}

th {
    background-color: #594a41;
    color: #fff;
    font-family: 'GmarketSansMedium';
}

.video-introduction {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.introduction {
    margin-bottom: 20px;
    font-family: 'GmarketSansMedium';
}

.video-url {
    width: 50%;
}

.additional-info-container {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'GmarketSansMedium';
}

.animal-concern {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 180%;
    font-family: 'GmarketSansMedium';
}

.button{
    min-width: 240px;
    height: 50px;
    background-color: #26a826;
    color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    line-height: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: 'GmarketSansMedium';
}

.button-container{
    font-family: 'GmarketSansMedium';
    text-align: center;
}

.animal-name{
    font-family: "nanumsquare";
    font-weight: 600;
    font-size: 40px;
    color: #333333;
    font-family: 'GmarketSansMedium';
}

.animal-info-manage{
    font-family: 'GmarketSansMedium';
    padding-bottom: 40px;
}

.animal-info-manage dl dt{
    font-family: 'GmarketSansMedium';
    display: inline-block;
    float: left;
    margin-right: 10px;
    height: 26px;
    background-color: #fff;
    border: 2px solid #594a41;
    border-radius: 13px;
    padding: 0 10px;
    line-height: 24px;
}

.animal-info-manage dd{
    font-family: 'GmarketSansMedium';
    display: inline-block;
    float: left;
    line-height: 26px;
}

.animal-info-bio{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    font-family: 'GmarketSansMedium';
}

.layout-col {
    display: block;
    overflow: hidden;
    position: relative;
}

.animal-info-bio dl{
    display: block;
    overflow: hidden;
    position: relative;
    background: #fff;
    font-size: 15px;
    color: #555555;
    font-family: 'GmarketSansMedium';
}

h3{
    font-family: 'GmarketSansMedium';
    margin-bottom: 20px;
}