/* BoardUpdate.css */



.update-container {
  width: 70%;
  margin: 0 auto;
}

.update-container h2 {
  text-align: center;
  font-size: 36px;
}

.label-content {
  height: 300px;
}


.btn-update button {
  background-color: #a0cfad;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  align-self: flex-end; 
}

.btn-update button:hover {
  background-color: #26a826; 
}

.back-btn {
  color: #b4b2b2; 
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}


.btn-update {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.back-btn:hover {
  color: black; 
}