
.Common-container {
  max-width: 400px;
  width: 100%;
  min-height: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #0000004d;
  padding: 58px 100px 46px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0%, 20%);
}

.Common-container:hover {
  box-shadow: 0px 4px 16px #0000004d; /* 호버 시 그림자 효과 강화 */
}

.Common-container a {
  text-decoration: none;
  color: rgb(26, 115, 232);
}

.Common-container .MuiButton-root:hover {
  background-color: rgb(26, 115, 232);
  color: white;
}

.Common-container .MuiTextField-root {
  width: 100%;
  margin-top: 30px;
}

.Common-btn {
  margin-top: 30px;
  text-align: center;
}

.Common-btn .MuiButton-root {
  font-size: 20px;
  width: 200px;
}