.my-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-bottom: 100px;
}

.content-container {
    text-align: center;
}

.user-info-table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
}

.user-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-info-table td:first-child {
    text-align: center;
}

.user-info-table td:last-child {
    text-align: left;
}

.user-info-table .greeting {
    text-align: center;
}

.greeting strong {
    display: block;
    text-align: center;
}