.product__product-item-list{display: flex; flex-wrap: wrap;  gap: 40px 8px;}

.product__detail-price{font-size: 24px; line-height: 40px; font-weight: bold;}

.product__detail-product-wrap{display:flex; flex-wrap: wrap;}
.product__detail-product-wrap > .center__img-wrap{border-radius: 8px;}
.product__detail-product-wrap > div{
  width:50%;
}

.product__detail-price-wrap{width:100%; display:flex; align-items: center; justify-content: space-between;}
.product__detail-price-wrap p{padding-right:4px;}

.product__detail-amount-wrap{display: flex; border:1px solid #787878; box-sizing: border-box; height:36px; border-radius: 4px;}
.product__detail-amount-wrap button{border:0; outline:0; background-color: transparent; line-height: 20px; padding:8px;}
.product__detail-amount-wrap input{border:0; outline: 0; text-align: center; width:60px; line-height: 20px; font-size: 14px; font-weight: bold;}

.product__detail-button-wrap{display:flex; justify-content: space-between; gap:0 4px; margin-top: 8px;}
.product__detail-button-wrap > *{width:calc(33.3%); text-align: center; padding:8px 0; line-height: 20px; border:1px solid #787878; border-radius: 4px;}

@media screen and (max-width:768px){
  .product__detail-product-wrap > .center__img-wrap{border-radius: 0px;}
  .product__detail-product-wrap > div{
    width:100%;
  }
}