
.footer {
    font-family: 'GmarketSansMedium';
    text-align: center;
    background-color: #cccccc;
    color: #3f3f3f;
    font-size: 14px;
    margin-top: 10px; 
    width: 100%;
    font-weight: bold;
    padding-top: 30px;

  }
  
  