/* NavBar.css */

.navbar-main {
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 253, 253);
  padding: 7px;
  font-family: 'GmarketSansMedium';
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px;
}

.logo-container img {
  margin-right: 10px; 
  width: 45px; 
  height: 45px;
  margin-bottom: 40px;
  margin-left: 7px;
  }

.mnavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 7px;
  font-size: 18px;
  font-family: 'GmarketSansMedium';
}

.navbar a {
  font-family: 'GmarketSansMedium';
  color: black;
  text-decoration-color: none;
}

.logoutbtn {
  font-family: 'GmarketSansMedium';
  color: black;
  text-decoration-color: none;
}

.nav-links {
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgb(227, 253, 214);
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-links a {
  margin: 10px 0;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar.open {
  transform: rotate(-45deg) translate(-5px, 6px);
}


@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }

  .navbar h1 {
    display: inline-block;
  }
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  left: -40px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
